@charset "UTF-8";
/* Global
------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
/* Base */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-wrap: break-word;
  background: none;
  color: #595757;
}

body:lang(ja) {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
  font-family: 'Noto Sans JP', sans-serif !important;
}

::-moz-selection {
  background-color: #def;
}

::selection {
  background-color: #def;
}

@media screen and (min-width: 782px) {
  body {
    font-size: 19px;
  }
  body:lang(ja) {
    font-size: 16px;
  }
}

@media screen and (min-width: 980px) {
  body {
    font-size: 20px;
  }
  body:lang(ja) {
    font-size: 17px;
  }
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
  clear: both;
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

/* Link */
a {
  color: #4693f5;
  text-decoration: underline;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

cite a,
cite a {
  text-decoration: none;
}

/* Text */
b,
strong {
  font-weight: 700;
}

dfn,
em,
i {
  font-style: italic;
}

q {
  quotes: "" "";
}

cite {
  border-bottom: dotted 1px #999;
  font-style: normal;
}

code,
kbd,
tt,
var {
  background-color: #f4f5f6;
  color: #666;
  font-family: "Noto Sans JP", Consolas, monospace;
  font-size: 90%;
}

abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

mark,
ins {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ffff66));
  background: linear-gradient(transparent 70%, #ffff66 70%);
  text-decoration: none;
}

ins.adsbygoogle {
  background-color: transparent;
}

/* List */
ul,
ol {
  margin: 0 0 1.8em 1.5em;
  padding: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin-bottom: 0.5em;
}

dd {
  margin: 0 0 1.8em 1.5em;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 90%;
  margin: 0 0 1.8em;
  width: 100%;
}

caption {
  margin-bottom: 0.6em;
}

table th,
table td {
  border: solid 1px #eee;
  padding: 1em 1.2em;
}

th {
  background-color: #f4f5f6;
  font-weight: 600;
  text-align: left;
}

/* Elements */
blockquote {
  color: #666;
  margin: 0 0 2em;
  padding: 12px 0 0 44px !important;
  position: relative;
}

blockquote:before {
  color: #ddd;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 84px;
  left: -5px;
  line-height: 1;
  position: absolute;
  top: -5px;
}

blockquote p {
  margin-bottom: 0.8em;
}

blockquote cite {
  font-size: 90%;
}

address {
  margin: 0 0 1.8em;
  font-style: normal;
}

pre {
  background-color: #f4f5f6;
  color: #666;
  font-family: "Noto Sans JP", Consolas, monospace;
  font-size: 90%;
  line-height: 1.4;
  margin: 0 0 1.7em;
  max-width: 100%;
  overflow: auto;
  padding: 1.5em;
  word-wrap: normal;
}

hr {
  background-color: #eee;
  border: 0;
  height: 2px;
  margin: 1.8em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

/* Media */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

embed,
iframe,
object {
  max-width: 100%;
}

/* Form */
button,
input,
input[type="search"],
select,
textarea {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
  max-width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 90%;
  line-height: 1;
  padding: 1.1em 1.5em;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #555;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border: solid 1px #e6e6e6;
  color: #333;
  margin-top: 0.6em;
  padding: 0.6em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #444;
}

input[type="file"] {
  margin-top: 0.6em;
}

select {
  border: solid 1px #e6e6e6;
  margin-top: 0.6em;
  padding: 0.6em;
}

textarea {
  max-width: 720px;
  width: 100%;
}

input[type="tel"] {
  direction: ltr;
  border: 1px solid #eee;
  padding: 10px;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder {
  color: #ccc;
}

input::placeholder {
  color: #ccc;
}

textarea::-webkit-input-placeholder {
  color: #ccc;
}

textarea:-ms-input-placeholder {
  color: #ccc;
}

textarea::-ms-input-placeholder {
  color: #ccc;
}

textarea::placeholder {
  color: #ccc;
}

/* navi */
.sub_img:before {
  background: #fff !important;
}

.sub_menu a {
  color: #000 !important;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Open Sans';
  display: inline-block;
  padding: 6px 0;
}

/* responsive */
@media (max-width: 900px) {
  .on {
    display: block !important;
  }
}

@media (max-width: 900px) {
  .off {
    display: none !important;
  }
}

.onactive {
  display: block !important;
}

.onactive-table {
  display: table !important;
}

/* maincolor
------------------------------------------------------------ */
.content {
  margin-top: 0px;
}

.page-contents {
  padding-top: 0px;
  margin: 100px 0px;
}

@media (max-width: 900px) {
  .page-contents {
    margin: 0px 0px;
  }
}

@media (max-width: 900px) {
  #main {
    margin-bottom: 0;
  }
}

.header {
  background-color: #B1CB40;
  padding: 0px 0px;
}

.header__col {
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 0px;
  font-weight: bold;
}

.header__col img {
  width: 210px;
}

.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
}

.site-branding .site-branding__heading {
  font-weight: bold;
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0%;
}

.site-branding .site-branding__heading a {
  color: #fff;
  line-height: 0%;
  font-size: 40px;
  padding: 0px 0px 20px;
  display: inline-block;
}

.site-branding p {
  font-size: 13px;
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 10px;
}

.header-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.header-in .logo-text {
  padding: 0;
  font-size: 1em;
  margin: 0;
  font-size: 2.5rem;
}

.header-in .logo-text a {
  color: #fff;
}

.header-in .logo-text a .site-name-text {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
}

.header-in .logo-text::after {
  content: "";
  padding-left: 10px;
}

.header-in p {
  padding: 0 10px;
  margin: 0;
}

/* Navi
------------------------------------------------------------ */
.navi {
  background: #EAF1CE;
}

.navi ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 3px 0px;
}

.navi ul li {
  width: 206px;
}

.navi ul li a {
  font-weight: bold;
  background: #fff;
}

.navi ul .current_page_item a {
  background: #B1CB40;
  color: #fff;
}

#responsive-btn {
  color: #B1CB40;
  border-radius: 50%;
}

#responsive-btn:before {
  color: #B1CB40;
}

/* HEAD検索
------------------------------------------------------------ */
.slider-top .swiper-button-next:after, .slider-top .swiper-button-prev:after {
  display: none;
}

.slider-top {
  margin: 10px auto;
}

.swiper-slide .post__thumb--img {
  margin: 0 0 15px;
}

.swiper-slide .post__thumb--img a {
  padding-top: 62.5%;
  width: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* search_btn
------------------------------------------------------------ */
.search_btn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.search_btn ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* top-search
------------------------------------------------------------ */
.top-search h2 {
  font-size: 2rem;
  color: #595757;
}

.top-search .top-search-in {
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 0px 0px;
  text-align: center;
  font-size: 1rem;
}

.top-search .top-search-in h3 {
  font-size: 1.8rem;
}

.top-search .top-search-in a {
  text-decoration: none;
  color: #595757;
  display: block;
  width: 100%;
}

.top-search .top-search-in a ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
}

.top-search .section-1 {
  padding: 20px 0px;
}

.top-search .section-2 {
  margin-top: 30px;
  height: 80px;
  line-height: 80px;
}

.top-search .section-2 h3 {
  display: inline;
}

.top-search .section-2 p {
  display: inline;
}

.top-search .top-search-key {
  padding: 0px 0px;
  margin: 80px 0px 30px;
}

.top-search .top-search-key h2 {
  margin: 0;
  font-size: 2rem;
}

.top-search .top-search-key .search_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.top-search .top-search-key .search_container input[type="text"] {
  border: 3px solid #D4D4D2;
  width: 89%;
  padding: 0;
  margin: 0;
  line-height: 0%;
  height: 60px;
}

@media (max-width: 900px) {
  .top-search .top-search-key .search_container input[type="text"] {
    width: 80%;
  }
}

.top-search .top-search-key .search_container input[type="text"]:focus {
  outline: 0;
}

.top-search .top-search-key .search_container button[type="submit"] {
  cursor: pointer;
  outline: none;
  border-radius: 0%;
  width: 10%;
  background: #EBEBEB;
  border: 3px solid #D4D4D2;
  color: #595757;
  padding: 0;
  margin: 0;
  line-height: 0%;
  vertical-align: top;
  height: 60px;
  font-weight: bold;
}

.top-search .top-search-key .search_container button[type="submit"] .fa-search:before {
  margin-left: 5px;
}

@media (max-width: 900px) {
  .top-search .top-search-key .search_container button[type="submit"] {
    width: 19%;
  }
}

.top-search .top-search-key .search_container ::-webkit-input-placeholder {
  padding: 10px;
}

.top-search .top-search-tag ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-search .top-search-tag ul li {
  margin: 5px;
}

.top-search .top-search-tag ul li a {
  background: #eee;
  padding: 5px 10px;
  text-decoration: none;
  color: #595757;
  border-radius: 10px;
  font-size: 1.2rem;
}

/* listing-pr
------------------------------------------------------------ */
.listing-pr {
  /*
    ul{
        display: flex; 
        flex-wrap: wrap;

        li{
            width: calc(25% - 22px);
            margin: 1px;
            padding: 10px; 
        }
    }
    */
}

.listing-pr .bottom-carousel {
  margin-bottom: 50px;
}

.listing-pr .bottom-carousel ul {
  padding: 0;
  margin: 0;
}

.listing-pr .bottom-carousel ul li {
  list-style: none;
}

.listing-pr .bottom-carousel ul li a {
  text-decoration: none;
  color: #595757;
}

.listing-pr .bottom-carousel ul li a h4 {
  padding: 0px 0px;
  margin: 0;
}

.listing-pr .bottom-carousel ul li a p {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.shuhen-area {
  display: none;
}

.footer {
  background-color: #EBEBEB;
}

@media (max-width: 900px) {
  .footer .footer-navi {
    display: none;
  }
}

.footer .container {
  padding: 10px 0px;
}

.footer ul.footer-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 10px 0px;
}

.footer ul.footer-content-list li {
  list-style: none;
  font-size: 1.4rem;
}

.footer ul.footer-content-list li a {
  text-decoration: none;
  color: #595757;
  font-weight: bold;
}

.footer .copyright-mark {
  background: #595757;
  color: #fff;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
}

.notfound-inner-wrapper .notfound-title {
  text-align: center;
}

.notfound-inner-wrapper .backtohome {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */